* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header Component */

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    border-radius: 100%;
}

.nav-items {
    margin-top: 20px;
    padding-right: 100px;
}

.nav-items > ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;
    font-size: 1.2rem;
}

.nav-items > ul > li {
    cursor: pointer;
}

.filter {
    margin: 20px;
    display: flex;
    gap: 20px;
}



.search {
    padding: 10px;
}


/* card component */

.res-container,.shimmer-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 20px;
}

.res-card {
    width: 200px;
    height: 400px;
}


.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-image {
    width: 190px;
    height: 150px;
}

.filter-btn {
    /* padding: 10px;
    margin: 10px; */
}

.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-btn {
    width: 100px;
    background: green;
    border-radius: 10px;
    height: 25px;
}